<div class="task-card">
    <h2>My Internship Roadmap</h2>

    <div class="input-group">
        <input type="text" [(ngModel)]="newTaskTitle" placeholder="Enter new task..." (keyup.enter)="onAddTask()">

        <button (click)="onAddTask()">Add Task</button>
    </div>

    <div class="stats-bar">
        <p>Total: {{ totalCount() }} | Pending: {{ pendingCount() }}</p>

        @if (totalCount() > 0) {
        <button (click)="onClearAll()" class="clear-btn">Clear All</button>
        }
    </div>

    <ul>
        @for (item of tasks(); track item.id) {
        <app-task-item [task]="item" (toggle)="handleToggle($event)" (delete)="handleDelete($event)">
        </app-task-item>
        } @empty {
        <li>No tasks yet.</li>
        }
    </ul>

    <div class="message-container">
        @if (totalCount() > 0 && pendingCount() === 0) {
        <p class="success-msg">🎉 All tasks completed! Great job, MSK!</p>
        } @else if (totalCount() > 0) {
        <p class="info-msg">You have {{ pendingCount() }} tasks remaining for your internship.</p>
        }
    </div>

    <button (click)="onLoadRemote()" class="api-btn">Load Live Data</button>
</div>